.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  background-image: url(../images/background_header.svg);
  background-color: #ffffff;
  background-size: cover;
  box-sizing: border-box;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin: 0;
  margin-top: 30px;
  margin-left: 30px;
}

.nav__links {
  display: flex;
  margin-top: 30px;
  margin-right: 80px;
  display: flex;
  column-gap: 20px;
  list-style-type: none;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  color: #000000;
  text-decoration: none;
  font-weight: bold;
}

.span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__title {
  max-width: 709px;
  margin: 0;
  margin-top: 183px;
  margin-left: 80px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: 1px;
}

.header__description {
  max-width: 683px;
  margin: 0;
  margin-top: 28px;
  margin-left: 80px;
  font-family: "Noto Serif", "Times New Roman", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  max-width: 646px;
  max-height: 568px;
  position: absolute;
  right: 5px;
  top: 124px;
  margin: 0;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-top: auto;
}

.header__footer-week {
  flex-direction: column;
  margin-left: 80px;
  margin-bottom: 40px;
}

.header__footer-address {
  margin: 0;
  margin-right: 80px;
  margin-bottom: 40px;
}

.header__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  color: #838383;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.recipes {
  background-image: url(../images/background_recipes.svg);
  background-color: #0a2750;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  flex-direction: column;
  padding: 100px 80px 215px;
}

.recipes__title {
  max-width: 580px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  max-width: 438px;
  margin-top: 24px;
  font-family: "Noto Serif", "Times New Roman", Times, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin-top: 80px;
  display: flex;
  column-gap: 40px;
  justify-content: center;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-captions {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__video-caption {
  margin: 0;
}

.reservation {
  background-image: url(../images/background_reservation.svg);
  background-color: #d9e7ff;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  padding: 100px 0 120px;
  color: #000;
}

.reservation__title {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 auto 80px;
  display: flex;
  justify-content: center;
}

.reservation__form {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  justify-content: center;
}

.form__fieldset {
  display: flex;
  max-width: 385px;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 0;
  margin: 0;
  border: 0;
}

.form__label {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  gap: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.form__input {
  border-radius: 4px;
  height: 60px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
  padding: 15px 20px;
  border: 1px solid;
}

.form__button {
  border-radius: 4px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 100%;
  height: 60px;
  background-color: #2f80ed;
  color: #fff;
  padding: 0;
  border: 0;
}

.form__button:hover {
  opacity: 0.7;
}

.form__checkbox {
  border-radius: 2px;
  width: 20px;
  height: 20px;
  gap: 12px;
}
.form__label_checkbox {
  display: flex;
  flex-direction: row;
}
